                    * {
                        box-sizing: border-box;
                    }
                    
                    body {
                        background: transparent;
                        margin: 0;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                    
                    .header {
                        width: 100%;
                        text-align: center;
                        font-size: 30px;
                        background-color: #111;
                        color: whitesmoke;
                        font-family: cursive;
                        position: fixed;
                        z-index: 5;
                        font-weight: 50;
                        padding: 7px;
                        box-shadow: 0px 8px 16px 0px rgba(68, 41, 41, 0.4);
                    }
                    
                    #select_account {
                        display: flex;
                    }
                    
                    .user {
                        width: 140px;
                        height: 170px;
                        border-radius: 10px;
                        margin: 5px;
                        text-align: center;
                        position: relative;
                    }
                    
                    .user :hover {
                        cursor: pointer;
                    }
                    
                    .user-img {
                        width: 100%;
                        height: 85%;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                    
                    .user-name {
                        width: 100%;
                        height: 15%;
                        font-size: 15px;
                        font-family: sans-serif;
                        background-color: whitesmoke;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    
                    .add_account {
                        width: 140px;
                        height: 170px;
                        margin-left: 5px;
                    }
                    
                    .add_account button {
                        border-radius: 10px;
                        width: inherit;
                        height: inherit;
                    }
                    
                    .add_new_account,
                    .open_account_on_click {
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.3);
                        z-index: 10;
                        position: fixed;
                        top: 0%;
                        left: 0%;
                        display: none;
                        text-align: center;
                        overflow: auto;
                    }
                    
                    .loginform {
                        display: block;
                        /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);*/
                    }
                    
                    .signupform {
                        display: none;
                        /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);*/
                    }
                    
                    input {
                        width: 100%;
                        padding: 12px 20px;
                        margin: 8px 0;
                        display: inline-block;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                        border-radius: 4px;
                    }
                    
                    input.gender {
                        width: auto;
                        padding: 0;
                        margin: 0;
                    }
                    /*button effect*/
                    
                    button {
                        background-color: rgba(0, 0, 0, 0.8);
                        padding: 14px 20px;
                        margin: 8px 0;
                        border: none;
                        color: whitesmoke;
                        cursor: pointer;
                        width: 100%;
                    }
                    /*button hover effect*/
                    
                    button:hover {
                        opacity: 0.8;
                    }
                    
                    .imgcontainer {
                        text-align: center;
                        margin: 24px 0 12px 0;
                    }
                    
                    .avatar {
                        width: 40%;
                        border-radius: 50%;
                    }
                    
                    .container {
                        padding: 16px;
                    }
                    
                    .maincontainer0 {
                        width: 100%;
                        display: flex;
                        padding: 5%;
                        position: relative;
                        background-image: linear-gradient(to left, whitesmoke, black);
                    }
                    
                    .maincontainer1 {
                        width: 450px;
                        height: 540px;
                        padding-top: 100px;
                    }
                    
                    .maincontainer2 {
                        width: 450px;
                        height: 540px;
                        box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.4);
                        border-radius: 10px;
                        right: 50px;
                        position: absolute;
                    }
                    
                    .maincontainer3 {
                        width: 400px;
                        height: 540px;
                        border-radius: 10px;
                        margin: auto;
                        margin-top: 5%;
                        position: relative;
                        /*background-image: linear-gradient(to top, black, whitesmoke);*/
                        background-color: whitesmoke;
                    }
                    
                    @media only screen and (max-width:480px) {
                        .maincontainer {
                            width: 100%;
                            height: auto;
                            overflow: auto;
                            margin-top: 15px;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%)translateY(-50%);
                        }
                        .header {
                            color: whitesmoke;
                        }
                    }